<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    
   
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new/1">Create New URL</a>
      </div>
    </div>

    <% if (user) { %>
      <!-- log out -->
      <form method="POST" action="/logout">
        <label>Logged in as <em><%= user["email"] %></em>&nbsp</label>
        <button type="logout" class="btn btn-outline-primary">Log Out</button>
      </form>
    <% } else{ %>
      <!-- log in -->
      <form method="GET" action="/login">
        <button type="submit" class="btn btn-light" onclick="location.href='/login'" style="margin-right: 10px">Log In</button>
      </form>
      <form method="GET" action="/register">
        <button type="submit" class="btn btn-light" onclick="location.href='/register'">Register</button>
      </form>
    <% } %>
  </nav>
</header>