<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Login - tinyURL</title>

    <style>
      main {
        margin-top: 20vh;
        display: flex;
        width: fit-content;
        flex-direction: column;
      }
      .entry-form {
        background-color: ghostwhite;
        color: rgb(5, 5, 46);
        padding: 5vh;
        border: 2px solid rgb(10, 10, 137);
        border-radius: 12px;
        box-shadow: 5px 5px lightsteelblue;
      }
      h3 {
        color: darkblue; 
        font-family: Arial Black;
        margin-top: 2vh;
        margin-bottom: 2vh;
      }
    </style>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h3>Sign in to tinyURL</h3>
      <form class="entry-form" name="entryform" action="/login" method="POST">
        <label for="email">E-mail:</label><br>
        <input type="email" name="email" placeholder="example@site.com"><br>
        <label for="lname">Password:</label><br>
        <input type="password" name="password" placeholder="Password123!"><br><br>
        <!-- <input type="submit" value="Submit">
        <input type="reset"> -->
        <button type="submit" class="btn btn-outline-primary">Log In</button>
      </form>
    </main>